html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

footer {
  background: #eee;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 50px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding: 12px 0;
  color: #ff7800;
}

.wrapper {
  max-width: 1100px;
  padding: 10px;
  margin: 20px auto;
}

.create-product {
  background: #f7f7f7;
  padding: 20px;
}
.create-product label,
.create-product select {
  display: block;
}
.create-product label {
  margin-top: 30px;
}
.create-product select {
  padding: 8px;
  width: 1000px;
}
.create-product input[type=checkbox] {
  margin: 10px;
}
.create-product input[type=submit] {
  background: #ff7800;
  padding: 8px 20px;
  color: #fff;
  border: 0;
  margin-top: 20px;
}

.product-details {
  text-align: left;
  background: #f7f7f7;
  padding: 20px;
}
.product-details p {
  margin: 20px 0;
  font-weight: bold;
}
.product-details img {
  width: 500px;
  display: inline-block;
}
.product-details button {
  background: #ff7800;
  padding: 8px 20px;
  color: #fff;
  border: 0;
  margin-top: 20px;
}

a.back {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #ff7800;
  margin-bottom: 20px;
}

.product-index h1 {
  margin-bottom: 40px;
}
.product-index .product-item {
  margin: 10px 0;
  padding: 12px;
  background: #f4f4f4;
}
.product-index .product-item img {
  width: 60px;
  display: inline-block;
}
.product-index .product-item h4 {
  display: inline-block;
  font-weight: normal;
  margin-left: 20px;
}
.product-index .product-item h4 a {
  color: #777;
  text-decoration: none !important;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #ff7800;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #ff7800;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.container {
  position: relative;
  width: 70%;
}

.image {
  opacity: 1;
  display: block;
  width: 60%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #ff7800;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.button {
  background-color: #ff7800;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #ff7800;
  border-radius: 10px;
}

.button1:hover {
  background-color: #ff7800;
  color: white;
  border-radius: 10px;
}
